*
!/flake/
!/flake/**
!/neovim/
!/neovim/**
!/npins/
!/npins/**
!/pkgs/
!/pkgs/**
!/.envrc
!/.gitattributes
!/.gitignore
!/.luarc.json
!/.mdformat.toml
!/.stylua.toml
!/flake.lock
!/flake.nix
!/license
!/readme.md
!/selene.toml
!/vim.yml
