*
!/internal/
!/internal/**
!/neovim/
!/neovim/**
!/npins/
!/npins/**
!/pkgs/
!/pkgs/**
!/.envrc
!/.gitattributes
!/.gitignore
!/.mdformat.toml
!/.stylua.toml
!/flake.lock
!/flake.nix
!/license
!/readme.md
