*
!/**/

!/flake/**/*.nix
!/neovim/**/*.lua
!/npins/**/*.json
!/npins/**/*.nix
!/pkgs/**/*.nix

!/.envrc
!/.gitattributes
!/.gitignore
!/.luarc.json
!/.mdformat.toml
!/.stylua.toml
!/flake.lock
!/flake.nix
!/license
!/readme.md
!/selene.toml
!/vim.yml
